@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

:root {
    --text-color: #3b3a37;
}

body{
    font-family: 'Roboto Mono', serif;
    margin:40px auto;
    margin-bottom: 60px;
    max-width:900px;
    line-height:1.4;
    font-size:19px;
    color: var(--text-color);
}

h1 {
    font-size:55px; 
}

h2 {
    font-size:40px;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

h1,h2,h3{
    line-height:1.5;
}


.center-text {
    text-align: center;
}

.navbar {
    transition: background-color .3s;
    margin-bottom: 28px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}

.navbar-item {
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    width: 110px;
    padding: 20px;
    transition: background-color .3s;
    text-align: center;
} 

.card {
    border-radius: 5px;
    height: 400px;
    padding: 30px;
    padding-top: 4px;
    margin-top: 25px;
    transition: background-color .3s;
    text-overflow: ellipsis;
    overflow: hidden; 
}

.post-list-card {
    border-radius: 5px;
    padding: 30px;
    margin-top: 25px;
    transition: background-color .3s;
    text-overflow: ellipsis;
    overflow: hidden; 
}

.contact-div {
    padding: 30px;
    margin-top: 25px;
    transition: background-color .3s;
    text-overflow: ellipsis;
}

.card:hover, .post-list-card:hover, .navbar-item:hover {
    background-color:#ffe8a5;
}

.highlighted, .highlighted:hover {
    background-color: var(--text-color);
    color: white;
}